* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

@font-face {
    font-family: Helvetica;
    src: url('helvetica/Helvetica-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: Helvetica;
    src: url(helvetica/helvetica-light-587ebe5a59211.ttf);
    font-weight: 400;
}

body {
    width: 100% !important;
    height: 100vh !important;
    font-family: Helvetica, sans-serif;
}

.bg-gray {
    background: #CDCDCD;
}

.input-green:checked {
    background-color: var(--Teal-Teal-300, #4FD1C5) !important;
    border-color: var(--Teal-Teal-300, #4FD1C5) !important;
}

.content {
    border-radius: 15px;
    background: #FFF;
    
    box-shadow: 0px 7px 23px 0px rgba(0, 0, 0, 0.05);    
    width: 452px;
    height: 713.5px;
}

.text-gray {
    color: var(--Gray-Gray-700, #2D3748) !important;
}

.text-gray-light {
    color: var(--Gray-Gray-400, #A0AEC0) !important;
}

.title {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    line-height: 140%; /* 25.2px */
}

.social__item {
    width: 75px;
    height: 75px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #CDCDCD;
    cursor: pointer;
}

.social_register {
    gap: 15px;
    margin-block: 21px 20.5px !important;
}

.or__span {
    font-size: 18px;
    line-height: 140%; /* 19.6px */
}

.inputs {
    gap: 24px;
}

.input__item input[type="text"],
.input__item input[type="password"],
.input__item input[type="email"]{
    font-family: Helvetica, sans-serif;
    padding: 13.5px 20px !important;
    font-size: 14px;
    border-radius: 15px;
    border: 1px solid #CDCDCD;
    width: 350px;
}

.input__item input::placeholder {
    color: var(--Gray-Gray-400, #A0AEC0);
    font-family: Helvetica, sans-serif;
}

.input__item label {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%; /* 19.6px */
    padding-left: 5px !important;
    color: var(--Gray-Gray-700, #2D3748);
}

.input__item input[type="checkbox"] {
    width: 36px;
    height: 18.5px;
}

.input__item {
    gap: 5px;
}

.remember__check label {
    font-size: 12px;
    line-height: 150%; /* 18px */
}

.remember__check {
    min-height: auto !important;
}

.bg_green {
    background: var(--Teal-Teal-300, #4FD1C5) !important;
}

.btn__sign_up {
    width: 350px;
    padding: 14px 0 !important;
    font-size: 10px !important;
    border-radius: 15px;
    line-height: 150%; /* 15px */
    cursor: pointer;
}

.signin__action {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    line-height: 140%; /* 19.6px */
}

.signin__action a {
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.text_green {
    color: var(--Teal-Teal-300, #4FD1C5) !important;
}

.gap-22 {
    gap: 22px;
}

.mt-17 {
    margin-top: 17px !important;
}

.mt-36 {
    margin-top: 36px !important;
}

.mb-17 {
    margin-bottom: 17px !important;
}